footer
  .container
    .row.text-center
      p: ul.list-inline
        li: a target='_blank' href='' Terms
        li: a target='_blank' href='' API
        li: a target='_blank' href='' Fees
        li: a target='_blank' href='' Assets
        li: a target='_blank' href='' FAQ
        li: a target='_blank' href='' Contact
      p © 2018 COINTUM 
