header.text-center
  
  .container
    a href='http://cointumexchange.com'
      img src='#{image_path 'cointum.png'}' width='336px'
    section
      h3  Cryptocurrency exchange platform for IMM Coin and other digital currencies.
      
    #getstart.row
      - unless current_user
        .col-xs-4.col-xs-offset-8
          a href="#{signin_path}" class="btn btn-primary btn-lg btn-block" role="button" = t("header.signin")
        - if ENV['WEIBO_AUTH'] == "true"
          .col-xs-4
            a href="/auth/weibo" class="btn btn-primary btn-lg btn-block" role="button" = t("header.login_via_weibo")
        .col-xs-4
          a href="#{signup_path}" class="btn btn-primary btn-lg btn-block" role="button" = t("header.signup")
      - else
        .col-xs-6.col-xs-offset-9.text-center
          a href="#{market_path(current_market)}" class="btn btn-primary btn-lg btn-block" role="button" = t("header.getstart")
          a href="#{funds_path}" class="btn btn-primary btn-lg btn-block" role="button" = t("header.funds")
          a href="#{settings_path}" class="btn btn-primary btn-lg btn-block" role="button" = t("header.settings")
