.tabbable
  ul.nav.nav-tabs
    li.active: a.btc-proof href="#btc-proof" data-toggle="tab" == t('.verify-btc')
    li:        a.imc-proof href="#imc-proof" data-toggle="tab" == t('.verify-imc')
    li:        a.cbr-proof href="#cbr-proof" data-toggle="tab" == t('.verify-cbr')

  .tab-content
    #btc-proof.tab-pane.active: .trade-wrapper
      .assets
        span.title = t('.btc-assets-total')
        span.currency
          == t("currency.icon.btc")
          = @btc_proof.sum
      = render 'liability_data', account: @btc_account, proof: @btc_proof

    #imc-proof.tab-pane:        .trade-wrapper
      .assets
        span.title = t('.imc-assets-total')
        span.currency
          == t("currency.icon.imc")
          = @imc_proof.sum
      = render 'liability_data', account: @imc_account, proof: @imc_proof

    #cbr-proof.tab-pane:        .trade-wrapper
      .assets
        span.title = t('.cbr-assets-total')
        span.currency
          == t("currency.icon.cbr")
          = @cbr_proof.sum
      = render 'liability_data', account: @cbr_account, proof: @cbr_proof
