= content_for :frame do
  .container
    ul.nav.nav-justified.assets-nav
      li.active data-scroll-nav='0'
        a = t('.liability-proof')
      li        data-scroll-nav='1'
        a = t('.btc-assets')
      li        data-scroll-nav='2'
        a = t('.imc-assets')
      li        data-scroll-nav='3'
        a = t('.cbr-assets')

    - if current_user
      div data-scroll-index=0 = render 'liability_proof'

    div data-scroll-index=1 = render 'btc_assets'
    div data-scroll-index=2 = render 'imc_assets'
    div data-scroll-index=3 = render 'cbr_assets'

