/*util*/
.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: row; }

.row-eq-height > [class^=col]:last-of-type div {
  margin: 10px; }

.row-eq-height > [class^=col]:last-of-type div:first-of-type {
  margin-top: 0; }

.row-eq-height > [class^=col]:last-of-type div:last-of-type {
  margin-bottom: 0; }

/**/
html, body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: brandon;
  src: url("/fonts/Brandon_reg.otf"); }

@font-face {
  font-family: axis;
  src: url("/fonts/axis.otf"); }

.table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle !important; }

.text-white {
  color: white;
  font-family: brandon; }

.red {
  background: red; }

.blue {
  background: blue; }

.text-cointum {
  color: #f7941e; }

#wrapper {
  position: relative;
  display: block;
  overflow: hidden; }

.section {
  position: relative;
  min-height: 100vh;
  width: 100%; }
  .section-fluid {
    height: 100%;
    width: 100%;
    position: relative;
    display: block; }
  .section-content {
    width: 80%;
    margin: auto;
    padding: 20px; }

#banner {
  background-image: url("/img/bg-2.jpg");
  background-attachment: fixed;
  background-size: cover; }
  @media (max-width: 1000px) {
    #banner {
      padding-top: 80px; } }

#navigator {
  position: absolute;
  color: white;
  width: 100%;
  z-index: 99;
  height: 80px; }
  #navigator-inverted {
    position: absolute;
    color: white;
    width: 100%;
    z-index: 99;
    height: 80px;
    background: #202020; }

#logo {
  width: 30%;
  float: left;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 1000px) {
    #logo {
      width: 100%;
      display: block;
      background: #202020; } }
  #logo #burger {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 10%;
    top: 50%;
    display: none;
    transform: translateY(-50%); }
    #logo #burger:hover {
      background: white;
      color: #202020; }
    @media screen and (max-width: 1000px) {
      #logo #burger {
        display: block; } }
    #logo #burger i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#nav {
  position: relative;
  width: 70%;
  float: right;
  height: 100%;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 1000px) {
    #nav {
      width: 100%;
      margin: 0;
      padding: 0; } }

.logo-area {
  height: 80px;
  position: relative; }

.logo-area img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#nav ul {
  float: right;
  margin-right: 10%; }
  @media screen and (max-width: 1000px) {
    #nav ul {
      margin: 0;
      padding: 0;
      width: 100%; } }

#nav ul li {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  letter-spacing: 4px;
  font-size: 11px;
  line-height: 80px;
  padding-left: 20px;
  font-family: "Segoe UI";
  -webkit-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-family: axis; }
  #nav ul li a {
    color: inherit; }
    #nav ul li a:hover {
      text-decoration: none; }
  #nav ul li:hover {
    color: #f7941e; }
  @media screen and (max-width: 1000px) {
    #nav ul li {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center; } }
  @media screen and (max-width: 1000px) {
    #nav ul li {
      background: #202020;
      width: 100%;
      margin: 0;
      padding: 0; } }

.landing-banner-text {
  color: white;
  font-family: axis;
  font-size: 2em;
  padding: 0% 15%;
  text-align: left;
  letter-spacing: 5px; }
  @media (max-width: 1000px) {
    .landing-banner-text {
      padding: 0;
      text-align: center; } }

.cryto-value-section {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white; }

.crypto-item-container {
  position: relative;
  margin: auto;
  width: 80%; }

#chartDiv {
  background: white;
  width: 80%;
  height: 300px; }

#morris {
  width: 80%;
  height: 300px;
  margin: 0;
  padding: 0; }

.crypto-item {
  padding: 10px 0%;
  color: white;
  display: inline-block; }
  .crypto-item .title {
    color: #f7941e;
    font-weight: bold; }

/* footer */
#footer {
  background: linear-gradient(to bottom, #2d4472, #172236);
  position: relative; }

#footer-background {
  z-index: 2;
  width: 100%;
  height: 100%; }

.footer-body {
  height: 100%;
  width: 100%;
  z-index: 99; }

.footer-foot {
  height: 80px;
  width: 100%;
  border-top: white 1px dashed; }

.row {
  height: 100%; }

/* community */
#community {
  background: linear-gradient(to right, #f87c46, #feb833);
  padding: 20px 0px; }
  #community .heading-text {
    color: white;
    font-family: axis;
    font-size: 40px;
    text-align: center;
    padding: 3%; }
  #community .subheading-text {
    color: white; }
  #community .content {
    color: white;
    padding: 3%; }

/* f e a t u r e s*/
#featureSection {
  background: url("/img/background.jpg"); }

#features .card {
  background: transparent;
  border: 1px solid white; }

#features .card .card-header, #features .card .card-footer {
  border: none;
  background: none; }

#features .card {
  color: white;
  text-align: center;
  padding: 5%; }

#features .icon-container {
  font-size: 3em; }

/*exchange*/
#exchangeAnywhereSection {
  position: relative;
  background: linear-gradient(to right, #f87c46, #feb833);
  color: white; }

#exchangeAnywhereSection .image-container {
  min-height: 400px;
  position: static; }

#exchangeAnywhereSection .image-container img {
  position: absolute;
  width: 70%;
  bottom: -40px; }
  @media (max-width: 800px) {
    #exchangeAnywhereSection .image-container img {
      width: 100%;
      bottom: -25px; } }

#exchangeAnywhereSection h2 {
  color: white;
  font-family: axis; }

#exchangeAnywhereSection small {
  color: white; }

/* a b o u t  u s*/
#aboutUsSection {
  background: linear-gradient(to right, #f87c46, #feb833); }

/*login */
#login {
  background-image: url("/img/bg-2.jpg");
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

#loginWrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/img/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-origin: content-box; }
  #loginWrapper .loginContainer {
    position: relative;
    width: 100%;
    height: 100%; }
  #loginWrapper #loginContent {
    width: 100%;
    height: 100%;
    color: white;
    font-family: axis; }

#loginContainer {
  padding: 100px 0px 20px 0px;
  background: transparent; }

#loginFormContainer {
  width: 50%;
  margin: auto;
  color: white;
  text-align: left;
  padding: 3%;
  border-radius: 20px;
  transition: .5s; }
  @media (max-width: 1200px) {
    #loginFormContainer {
      width: 80%; } }
  #loginFormContainer input {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px; }
  #loginFormContainer button {
    background: none;
    border-radius: 0;
    border: 1px solid white; }
    #loginFormContainer button:hover {
      background: white;
      color: #202020; }
