doctype html
html.no-js[lang="en"]
  head
    title
      | Cointum Exchange
    meta[http-equiv="Content-Type" content="text/html; charset=UTF-8"]
    meta[name="viewport" content="initial-scale=1.0, user-scalable=no"]
    meta[name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui"]
    meta[name="theme-color" content="#3F6EBF"]
    meta[name="msapplication-navbutton-color" content="#3F6EBF"]
    meta[name="apple-mobile-web-app-status-bar-style" content="#3F6EBF"]
    link[rel="shortcut icon" href="img/favicon.ico"]
    link[rel="apple-touch-icon" href="img/apple-touch-icon.png"]
    link[rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png"]
    link[rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png"]
    link[rel="stylesheet" href="https://dl.dropbox.com/s/j9wptru4i33d6is/style.min.css" type="text/css"]
    script[type="text/javascript"]
      |  WebFontConfig = { google: { families: [ 'Open+Sans:300,400,500','Lato:900', 'Poppins:400', 'Catamaran:300,400,500,600,700'] } }; (function() { var wf = document.createElement('script'); wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'; wf.type = 'text/javascript'; wf.async = 'true'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wf, s); })();
    script[type="text/javascript"]
      |  var _html = document.documentElement, isTouch = (('ontouchstart' in _html) || (navigator.msMaxTouchPoints > 0) || (navigator.maxTouchPoints)); _html.className = _html.className.replace("no-js","js"); isTouch ? _html.classList.add("touch") : _html.classList.add("no-touch");
    script[type="text/javascript" src="https://dl.dropbox.com/s/7u2n4a0o8qwd30n/device.min.js"]
  body
    header#top-bar.top-bar--light
      #top-bar__inner
        a#top-bar__logo.site-logo[href="index.html"]
          img.img-responsive[width="175" height="42" src="https://dl.dropbox.com/s/c42m4hk8qp2kfm3/white_icon.svg" alt="demo"]
          img.img-responsive[width="175" height="42" src="https://dl.dropbox.com/s/fgzav3gjzjmjz8e/icon_horizontal_new.svg" alt="demo"]
        a#top-bar__navigation-toggler[href="javascript:void(0);"]
          span
        #top-bar__navigation-wrap
          div
            nav#top-bar__navigation.navigation[role="navigation"]
              ul
                li
                  a[href=""]
                    span
                      | Home
                li
                  a[href=""]
                    span
                      | FAQ’s
                li
                  a[href=""]
                    span
                      | Support
            br.hide--lg
    #start-screen.start-screen--light.start-screen--style-1
      .start-screen__static-bg.jarallax[data-speed="0.3" style="background-image: url('https://dl.dropbox.com/s/g7zg3yp8pfgxzxd/bg_2.jpg');"]
        .pattern[style="background: -moz-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(114,76,253,0.46)), color-stop(100%, rgba(61,168,243,0.46)));background: -webkit-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);background: -o-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);background: -ms-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);background: linear-gradient(90deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);"]
        .start-screen__content.text--center
          .start-screen__content__inner
            .grid.grid--container.col--xs-align-bottom
              .row.row--xs-middle
                .col.col--lg-10
                  h1.__title
                    | Buy and sell digital currency
                  p
                    | Cointum is the world’s most popular way to buy and sell bitcoin, ethereum, and imm coin
                  .cell.v-middle
                  - unless current_user
                    a[href="https://cointumexchange.com/signin"]
                      button.custom-btn.custom-btn--medium.custom-btn--style-2[role="button"]
                        | Sign-in
                    - if ENV['WEIBO_AUTH'] == "true"
                      .col-xs-4
                        a href="/auth/weibo" class="btn btn-primary btn-lg btn-block" role="button" = t("header.login_via_weibo")
                    a[href="https://cointumexchange.com/signup"]
                          button.custom-btn.custom-btn--medium.custom-btn--style-2[href="#" role="button"]
                            | Sign-up
                  - else
                    a[href="https://cointumexchange.com/markets/imcbtc"]
                      button.custom-btn.custom-btn--medium.custom-btn--style-2[href="#" role="button"]
                        | Markets
                    a[href="https://cointumexchange.com/funds#/deposits/imc"]
                      button.custom-btn.custom-btn--medium.custom-btn--style-2[href="#" role="button"]
                        | Funds
                    a[href="https://cointumexchange.com/settings"]
                      button.custom-btn.custom-btn--medium.custom-btn--style-2[href="#" role="button"]
                        | Profile
                  p

            .grid.grid--container.col--xs-align-bottom
              .facts
                .__inner
                  .row.row--xs-middle
                    .col.col--sm-4.col--md-4
                      .__item.text--sm-left
                        span.num[data-from="" data-to="" data-decimals="" data-before="Secure" data-after=""]
                        br
                    .col.col--sm-4.col--md-3
                      .__item.text--sm-left
                        span.num[data-from="" data-to="" data-decimals="" data-before="Full Time Support" data-after=""]
                        br
                    .col.col--sm-4.col--md-3
                      .__item.text--sm-left
                        span.num[data-from="" data-to="" data-decimals="" data-before="Low Fee" data-after=""]
                        br
      span.scroll-discover.hide.show--md
        | scroll down
        b
    main[role="main"]
      section.section.section--no-pt
        .grid
          .row.row--md-center
            .col.col--md-5.col--lg-6.col--no-gutters
              img.img-responsive[src="https://dl.dropbox.com/s/j2jui6k3fs8ol9p/img_4.1.jpg" alt="demo"]
            .col.col--md-7.col--lg-6
              .content-grid[style="margin-right: auto;max-width: 570px;"]
                div[data-aos="fade-left" data-aos-delay="150"]
                  .section-heading.col-MB-30
                    h5.__subtitle
                      | Our mission
                    h2.__title
                      | Exchange Cryptocurrency wherever you are!
                  p.col-MB-35
                    |  Whether you are on go, or relaxing on your couach, buying and selling Cryptocurrency is easy with Cointum.
                  p
                    a.custom-btn.custom-btn--medium.custom-btn--style-1[href="#"]
                      | Discover
            .col.hide--md.col-MB-40
          .row.row--md-center.row--md-reverse
            .col.col--md-5.col--lg-6.col--no-gutters
              img.img-responsive[src="https://dl.dropbox.com/s/tomls96q76pp05u/img_4.png" alt="demo"]
            .col.hide--md.col-MB-40
            .col.col--md-7.col--lg-6
              .content-grid[style="margin-left: auto;max-width: 570px;"]
                div[data-aos="fade-right" data-aos-delay="150"]
                  .section-heading.col-MB-30
                    h2.__title
                      | WHO IS THE COINTUM FOR?
                  p.col-MB-35
                    |  You don’t need any. It’s very easy to start. We guide you through every step. The first step is to register and open an account. Once you have opened an account you can trade a wide range of currency pairs.Trading is simple. All you need to do is to place an order. If you want to buy, say what currency you want to buy and how much and in what currency you will pay. You can set the price you want or take the best market price.If you are selling, say what you want to sell and how much and the currency you want the buyer to pay. Again set a price or take the best market rate.Not sure about prices? Take a look at the orders others have put up and select the one that meets your needs.Still not sure whether it’s for you? Then take a look at our FAQs and the on-line training guide in the Help section of About Cointum.
                  p
                    a.custom-btn.custom-btn--medium.custom-btn--style-1[href="#"]
                      | Discover
      section.section.jarallax[data-speed="0.4"]
        img.jarallax-img[src="https://dl.dropbox.com/s/7pkafbxtb6j54rx/bg_1.jpg" alt="demo"]
        .pattern[style="background: -moz-linear-gradient(0deg, rgba(114,76,253,0.66) 0%, rgba(61,168,243,0.66) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(114,76,253,0.66)), color-stop(100%, rgba(61,168,243,0.66)));background: -webkit-linear-gradient(0deg, rgba(114,76,253,0.66) 0%, rgba(61,168,243,0.66) 100%);background: -o-linear-gradient(0deg, rgba(114,76,253,0.66) 0%, rgba(61,168,243,0.66) 100%);background: -ms-linear-gradient(0deg, rgba(114,76,253,0.66) 0%, rgba(61,168,243,0.66) 100%);background: linear-gradient(90deg, rgba(114,76,253,0.66) 0%, rgba(61,168,243,0.66) 100%);"]
        .grid.grid--container
          .section-heading.section-heading--white.section-heading--center.col-MB-60
            h5.__subtitle
              | Calculator
            h2.__title
              | Crypto Converter
          .row.row--xs-middle
            .col.col--md-10.col--lg-8
              .calculator
                form[action="#"]
                  .row
                    .col.col--sm-6.col-MB-20.col-sm-MB-0
                      span
                        | Give
                      .input-wrp
                        input.textfield[type="text" value="0.00" placeholder=""]
                        select.js-select.calculator-select
                          option[value="0"]
                            | USD
                          option[value="1"]
                            | EUR
                          option[value="2"]
                            | RUB
                      span.__desc
                        | USD - 557,427.56 USD
                    .col.col--sm-6
                      span
                        | Get
                      .input-wrp
                        input.textfield[type="text" value="0.00" placeholder=""]
                        select.js-select.calculator-select
                          option[value="0"]
                            | BTC
                          option[value="1"]
                            | ETH
                          option[value="2"]
                            | DSH
                          option[value="3"]
                            | LTC
                      span.__desc
                        | Bitcoin - 9.00 BTC
                  button.custom-btn.custom-btn--medium.custom-btn--style-2.wide[type="submit" role="button"]
                    | Calculate
      section.section.jarallax[data-speed="0.5"]
        img.jarallax-img[src="https://dl.dropbox.com/s/nb13h4buk93yy9e/bg_9.jpg" alt="demo"]
        .pattern[style="background-color: rgba(0, 0, 0, 0.53);"]
        .grid.grid--container
          .section-heading.section-heading--center.section-heading--white.col-MB-45
            h2.__title
              | We can Help You
          .row.row--xs-middle
            .col.col--xs-10
              .company-contacts.text--center
                .__inner
                  .row.row--xs-between
                    .col.col--lg-4.col--xl-3
                      .__item
                        p
                          | NIT 25A, 25/F., WING HING COMMERCIAL BUILDING, 139 WING LOK STREET, HONG KONG
                    .col.col--sm-6.col--lg-4.col--xl-3
                      .__item

                    .col.col--sm-6.col--lg-4.col--xl-3
                      .__item
                        p
                          | Email:
                          a[href="mailto:info@cointumexchange.com"]
                            | info@cointumexchange
    footer#footer.text--center.text--lg-left
      .grid.grid--container
        .row.row--xs-middle
          .col.col--sm-10.col--md-8.col--lg-4
            .__item
              a.site-logo[href="index.html"]
                img.img-responsive.lazy[width="175" height="42" src="img/blank.gif" data-src="https://dl.dropbox.com/s/c42m4hk8qp2kfm3/white_icon.svg" alt="demo"]
              p.__text

          .col.col--sm-10.col--md-8.col--lg-3.col--xl-offset-1
            .__item
              h4.__title
                | Main menu
              nav#footer__navigation.navigation
                .row.row--xs-middle
                  .col.col--xs-auto.col--lg-6
                    ul.__menu
                      li
                        a[href="#"]
                          | Home
                      li
                        a[href="#"]
                          | About us
                      li
                        a[href="#"]
                          | Contacts
                      li
                        a[href="#"]
                          | News
                  .col.col--xs-auto.col--lg-6
                    ul.__menu
                      li
                        a[href="#"]
                          | Api
                      li
                        a[href="#"]
                          | Wallet
                      li
                        a[href="#"]
                          | FAQ’s
                      li
                        a[href="#"]
                          | Support
          .col.col--sm-10.col--md-8.col--lg-5.col--xl-4
            .__item
              h4.__title
                | Subscribe
              form.form--horizontal[action="#"]
                .b-table
                  .cell.v-middle
                    .input-wrp
                      input.textfield[type="text" value="" placeholder="E-mail"]
                  .cell.v-middle
                    button.custom-btn.custom-btn--medium.custom-btn--style-2[type="submit" role="button"]
                      | Subscribe
        .row.row--xs-middle.row--lg-between
          .col.col--sm-10.col--md-8.col--lg-4
            .__item
              .social-btns
                a.fontello-twitter[href="#"]
                a.fontello-facebook[href="#"]
                a.fontello-linkedin-squared[href="#"]
          .col.col--sm-10.col--md-8.col--lg-6.text--lg-right
            .__item
              span.__copy
                | © 2018, Cointum
                a.__dev[href="#" target="_blank"]
                |  |
                a[href="#"]
                  | Privacy Policy
                |  |
                a[href="#"]
                  | Sitemap
    #btn-to-top-wrap
      a#btn-to-top.circled[href="javascript:void(0);" data-visible-offset="800"]
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"]
    script[type="text/javascript" src="https://dl.dropbox.com/s/jb1t76imfb5iqca/main.js"]
